<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite" />
                        <add provider="ASP" areas="" />
                    </traceAreas>
                    <failureDefinitions statusCodes="405-999" verbosity="Error" />
                </add>
            </traceFailedRequests>
        </tracing>
        <httpLogging dontLog="false" />
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <add value="default.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
